# Bỏ qua thư mục chứa thư viện
node_modules/
client/node_modules/
server/node_modules/

# Bỏ qua các file build
dist/
build/

# Bỏ qua các file biến môi trường (Chứa mật khẩu Database)
.env
.env.*
*.env

# Bỏ qua file cấu hình của IDE
.vscode/
.idea/
*.suo
*.user

# Bỏ qua log và file hệ thống Mac/Windows
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db